.yellowTulip {
  background-image: url('../../public/tulip.png');
  height: 80px;
  min-width: 55px;
}

.pinkTulip {
  background-image: url('../../public/pinkTulip.png');
  height: 80px;
  min-width: 55px;
}

.sunflower {
  background-image: url('../../public/sunflower.png');
  height: 90px;
  min-width: 55px;
}

.flower {
  image-rendering: pixelated;
  margin: 0 25px -10px;
  position: relative;
  z-index: 3;
  background-size: cover;

  &:nth-child(2n) {
    z-index: 3;
    transform: scale(.8);
  }

  &:nth-child(2n - 1) {
    z-index: 4;
  }
}

.daisy {
  background-image: url('../../public/daisy.png');
  height: 95px;
  min-width: 65px;
  background-size: cover;
}