.barrier {
  width: 100%;
  height: 64px;
  background-image: url('../../public/rock-dirt.png');
  image-rendering: pixelated;
}

.content {
  width: 100%;
  background-image: url('../../public/rocks.png');
  padding: 40px;
  image-rendering: pixelated;
  cursor: url('../../public/pickaxe.png'), auto;

  &:active {
    cursor: url('../../public/pickaxeswing.png'), auto;
  }
}