.sky {
  background: linear-gradient(rgb(135, 161, 254) 10%, rgb(74, 219, 255));
}


.cloudContainer {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
}

.grass {
  width: 100%;
  background-image: url('../../public/grass.png');
  height: 64px;
  image-rendering: pixelated;
  position: relative;
  bottom: 0;
  z-index: 1;
}


.crust {
  width: 100%;
  background-image: url('../../public/grassToDirt.png');
  height: 64px;
  image-rendering: pixelated;
  position: relative;
  bottom: 0;
  z-index: 1;
}